.container-summary{
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
}
.container-table{
    display: flex;
    height: calc(100% - 30px);
    width: 100%;
}
.buttons-container{
    display: flex;
    justify-content: space-between;    
    width: 100%;
    padding: 8px;
    .form-sigle-container{
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;
        .mat-mdc-form-field:nth-child(1){
            width: 500px;
        } 
        .mat-mdc-form-field:nth-child(2){
            width: 80px;
        }        
    }
}

:host ::ng-deep .mat-column-category{
    flex: 0.2;
}
:host ::ng-deep .mat-column-skill{
    flex: 0.2;
}

:host ::ng-deep .mat-column-actions{
    flex: 0.1;
}

:host ::ng-deep strong{
    color: red;
}