.container-summary{
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
}
.container-table{
    display: flex;
    height: calc(100% - 30px);
    width: 100%;
}
.buttons-container{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

:host ::ng-deep .mat-column-category{
    flex: 0.2;
}
:host ::ng-deep .mat-column-skill{
    flex: 0.2;
}

:host ::ng-deep .mat-column-actions{
    flex: 0.1;
}

:host ::ng-deep strong{
    color: red;
}