.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip{
  min-height: 40px;
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-sigle-container{
  display: flex;
  flex-direction: column;
}

.form-multiple-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}