<mat-accordion>
    <div [ngSwitch]="isExperience">
        <section *ngSwitchCase="false">
            <section *ngIf="show">
                <app-accordion-panel-skill 
                    [summarySelected]="summarySelected"
                    [skillsCategoryGroupBySkill]="skillsCategoryGroupBySkill" 
                    [summaries]="summaries" 
                    (summaryChange)="onSummaryChange($event)"
                ></app-accordion-panel-skill>
            </section>    
        </section>
        <section *ngSwitchCase="true">
            <app-accordion-panel-experience 
                [experienceForm]="experienceForm"
                (formChange)="onFormChange()"
            ></app-accordion-panel-experience>
        </section>
    </div>
</mat-accordion>