.container-view{
    display: flex;
    height: calc(100% - 65px);
    overflow: auto;
}

.container-experiences{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 8px;
    overflow: auto;
    height: calc(100% - 75px);
    .mat-mdc-card {
        width: 100%;
    }
}

.container-buttons{
    display: flex;
    justify-content: center;
    gap:16px;
    padding: 16px 0;
    width: 100%;
}

.mat-mdc-card-content{
    cursor: pointer;
}
