<mat-expansion-panel *ngFor="let skill of skillsCategoryGroupBySkill">
    <mat-expansion-panel-header>
      <mat-panel-title>{{skill.skill.value}}</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container>
      <mat-expansion-panel *ngFor="let category of skill.category">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.value}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <mat-checkbox 
            *ngFor="let summary of category.summary" 
            [checked]="validateChecked(summary)"
            (change)="selectSummary($event,summary)"
          >
            <div class="checkbox-label" [innerHTML]="summary.summary"></div>
          </mat-checkbox>          
        </section>
      </mat-expansion-panel>
    </ng-container>
</mat-expansion-panel>